@mixin circle($width, $heigth, $bcg) {
  width: $width;
  height: $heigth;
  background-color: $bcg;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$orange: #f79e1b;

.container {
  background-color: #262222;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.div-design {
  max-width: 100vw;
  max-height: 100vh;
    position: relative;
  .circle {
    position: absolute;
    border-radius: 50%;
    &-medium {
      @include circle(279px, 279px, $orange);
      top: -10px;
      left: -100px
    }
    &-big {
      @include circle(364px, 364px, #e04141);
      bottom: 0px;
      left: 100px
    }
    &-small {
      @include circle(112px, 112px, $orange);
      left: 520px;
      bottom: 100px;
    }
  }
}
.card-wrap {
  max-width: 578px;
  height: 346px;
  background: linear-gradient(to right, #ffffff80, #d3d3d350);
  backdrop-filter: blur(20px);
  width: 100%;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 38px 22px 19px;
  color: white;
  .card-info {
    h1 {
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
    }
    h2 {
      margin-top: 133px;
      font-family: Inter;
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
      letter-spacing: 0.215em;
    }
  }
  .card {
    &-date {
      font-size: 10px;
      font-weight: 300;
      line-height: 12px;
      margin: 22px 0 12px;
      :last-child {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0.195em;
      }
    }
    .card-holder {
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
    }
  }
  .sup-info {
    justify-self: end;
    align-self: center;
    h2 {
        margin-top: 120px;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0.215em;
        text-align: center;
    }
    img {
        margin-top: 70px;
    }
  }
}
